@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base styles */
:root { color-scheme: light; }
* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { @apply text-gray-800; }
